{{ define "tpl" }}
<div class="ui container">
	<div class="ui segment">
		{{ .T "Your account has been created, however it still <b>needs to be verified!</b> Please log in into <b><u>osu! (the game)</u></b> using your account. <b>There is <u>no email confirmation</u> at the moment. All you need to do is connect to Denopia from the osu! client!</b> If you're having trouble, <a href='/doc/1'>follow this guide</a>." | html }}
	</div>
	<div class="ui centered error  message">
		{{ .T "<b class='big text'>Do not let anyone except yourself log into your Denopia account!</b><br> Get on our <a href='%s'>Discord server's</a> #help channel instead (after following the steps on this page) so that we can help you out if you have trouble connecting." (config "DiscordServer") | html }}
	</div>
	<div class="ui segment">
		<h1 class="ui heading">{{ .T "<a href='/doc/1'>The Guide,</a> tl;dr version" | html }}</h1>
		<ol class="ui list">
			<li>{{ .T "Right click your osu! shortcut." | html }}</li>
			<li>{{ .T "Click Properties" | html }}</li>
			<li>{{ .T "Add -devserver denopia.ml to your target section (remember to leave a space between osu.exe and that!)" | html }}</li>
		</ol>
		<p>
			{{ .T "If you're still having trouble, then again, get on our <a href='https://discord.gg/tukB8TZ42V'>Discord server's</a> #clicking-chat channel." | html }}
		</p>
	</div>
	<div class="ui center aligned segment">
		<h1 class="ui heading">{{ .T "Waiting for verification" }}</h1>
		<i class="circle notched huge loading icon"></i>
	</div>
</div>
{{ end }}
